<mat-list-item *ngFor="let message of messages">
  <p mat-line *ngIf="message.event === 'msg'">
    <strong>{{message.user}}</strong> {{message.msg}}
  </p>
  <p mat-line *ngIf="message.event === 'connect'">
    <strong>{{message.user}}</strong> <em>connected</em>
  </p>
  <p mat-line *ngIf="message.event === 'disconnect'">
    <strong>{{message.user}}</strong> <em>disconnected</em>
  </p>
</mat-list-item>
<div>
  <mat-form-field>
    <input matInput placeholder="Whats's on your mind?" [(ngModel)]="message" (keyup.enter)="sendMessage()">
  </mat-form-field>
  <button mat-icon-button (click)="sendMessage()">
    <mat-icon>chat_bubble</mat-icon>
  </button>
</div>